<div class="language-switcher" animate.enter="fade-in">
  <p-select [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="label"
    (onChange)="switchLanguageHandler()" [showClear]="false" [style]="{'min-width':'150px'}">
    <ng-template #selectedItem>
      <div class="flex items-center gap-2">
        <span [class]="'fi fi-' + selectedLanguage.countryCode"></span>
        <span> {{ selectedLanguage.label }}</span>
      </div>
    </ng-template>

    <ng-template let-language #item>
      <div class="flex items-center gap-2">
        <span [class]="'fi fi-' + language.countryCode"></span>
        <span> {{ language.label }}</span>
      </div>
    </ng-template>
  </p-select>
</div>