<app-header></app-header>

<div class="container">
  <div class="section-title">
    <h2> {{'dances.title' | transloco}} </h2>
  </div>

  <p-card>
    <p class="dance-list">{{'dances.list' | transloco}}</p>
  </p-card>

  <div class="grid">
    @for (dance of dances$ | async; track $index) {
    <p-card class="dance-card">
      <div class="dance-card__wrapper">
        <div class="dance-card__header">
          {{dance.name | transloco}}
        </div>

        <p class="dance-card__category">{{'category' | transloco}} - {{dance.category | transloco}}</p>
        <p class="dance-card__description">{{dance.descriptionKey | transloco}}</p>
      </div>
    </p-card>
    }
  </div>
</div>