@import 'primeicons/primeicons.css';
@import 'flag-icons/css/flag-icons.min.css';

.card-image {
  width: 100%;
  max-width: 35rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: flex-start;
}

.card-text {
  flex: 1;
}
